<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%=info.description %>">
    <meta property="og:description" content="<%= info.description%>">
    <!-- https://fontawesome.com/v6.0/icons -->
    <script src="https://kit.fontawesome.com/8dd91d71f4.js" crossorigin="anonymous"></script>
   <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src='script.js' crossorigin="anonymous" defer='true' async></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title><%= info.title %></title>
  </head>
  <body>
<div class="box">
  <img id='img-box'src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" alt="Pfp" class="box-img">
  <h1 id='name'>
<%=info.name%> </h1>
<h5>
built diffrent</h5>
<p id='description'>
<%=info.description%></p>
<ul>
<li><a href="#"><i class="fa fa-solid fa-facebook-square"></i></a></li>
<li> <a href="#coder"> <i class="fa fa-solid fa-laptop-code" aria-hidden="true"></i> </a></li>
<li> <a href="https://discord.com"> <img src="https://img.icons8.com/ios/50/000000/discord-logo--v1.png"/> </a> </li>
<li> <i class="fa fa-solid fa-brands fa-github"></i> </li>
<li> <i class="fa-solid fa-at"></i> </li>
</ul>
</div>
<br>
<br>
<div class="box left">
  <div id='coder'>
    <h1 id='info-0-title'> </h1>
   <p id="info-0-text"> 
    
    <img src='https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif'>
  </p>
    </div>
</div>
<div class="box right">
  <h1 id='info-1-title'> Info 2</h1>
  <p id='info-1-text'>
    <img src='https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif'>
    </p>
</div>
</body>
<footer>
  <p id='date'></p>
</footer>
</html>

